body{
	font-family: "Helvetica Neue", sans-serif;
}
.whole_container{
/*	background-color: red;
*/	width: 100%;
	height: 90.5%;
	position: absolute;
	margin-top: 5%;

/*	background-color: blue;
*/}

.leftHalf{
	float: left;
/*	background-color: black;
*/	width: 50%;
	height: 100%;
}
	.state{
		float: left;
		background-color: #2f2f2f;
		width: 50%;
		height: 100%;
	}
		.stateDiv{
			width: 100%;
			height: 40%;
/*			background-color: black;
*/		}

		.USA{
			display: block;
			width: 90%;
			height: 80%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 3%;
		}


	.moodDiv{
		float: right;
		width: 50%;
		height: 100%;
		background-color: red;
	}

		.BasedOn{
			font-size: 50px;
			text-align: center;
			margin-top: 3%;
		}
		#MoodScore{
			font-size: 50px;
		}

		.MoodDesc{
			margin-left: auto;
			margin-right: auto;
			margin-top: 13.2%;
			text-align: center;
		}
	

.right{
/*	background-color: white;
*/	width: 50%;
	height: 100%;
	float: right;
}

	.reactions{
		float: left;
		background-color: #2f2f2f;
		width: 50%;
		height: 100%;


	}

		.reactionDiv{
			width: 100%;
			height: 40%;
/*			background-color: white;
*/		}

		.reactionsPic{
			display: block;
			width: 75%;
			height: 70%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 5%;
		}


.birth_gender{
	height: 100%;
	width: 100%;
}
}

	.birthday{
/*		background-color: red;
*/		width: 50%;
		height: 50%;
		float: right;

	}
		.birthdayDiv{
			width: 100%;
			height: 100%;
/*			background-color: black;
*/		}

		#barGraph{
			margin-left: 7%;
		}




.allBirth{
	font-size: 16px;
	text-align: center;
	margin-top: 1%;
}



/*---------------TEXTS*/

.state0{
	font: 30px;
}

.allReact{
	margin-top: 18%;
}

.genderBox{
	margin-top: 10%;
}

.birthBox{
	margin-top: 6%;
}